MYSQL_ROOT_PASSWORD= "<password>"
MYSQL_DATABASE= "<db-name>"

DATABASE_URL="mysql://<user>:<password>@localhost:3307/<db-name>"
DOCKER_URL="mysql://<user>:<password>@mysql-db:3306/<db-name>"

JWT_TOKEN = "<token>"