@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #001830;
    --secondary: #FF6600;
    --text: #FFFFFF;

    --from: #0f172a;
    --to: #1e293b
}

body {
    background: linear-gradient(135deg, var(--from), var(--to));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    color: var(--text);
    padding: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 22px;
    width: 100%;
    max-width: 465px;
}

.top {
    display: flex;
    background: var(--secondary);
    height: 64px;
    justify-content: center;
    align-items: center;
}

.bottom {
    position: relative;
    background: var(--primary);
    height: 165px;
    padding: 23px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    perspective: 1000px;
    height: 25px;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
}

.front {
    background: var(--primary);
    transform: rotateY(0deg);
}

.front p {
    cursor: pointer;
    font-size: 20px;
}

.back {
    background: var(--secondary);
    transform: rotateY(180deg);
    padding: 15px;
    gap: 15px;
    border-radius: 0 0 22px 22px;
    border-top: 2px solid var(--primary);
}

.back p{
    font-size: 14px;
}

.card:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0);
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--primary);
    flex-shrink: 0;
}

h3, h2 {
    font-weight: bold;
}