@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

:root {
    --primary: #001830;
    --secondary: #FF6600;
    --text: #FFFFFF;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 763px;
    padding: 16px;
}

.card-top {
    display: flex;
    background: var(--secondary);
    min-height: 81px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 35px;
    border-radius: 22px 22px 0 0;
}

.card-bottom {
    display: flex;
    background: var(--primary);
    min-height: 421px;
    flex-direction: column;
    border-radius: 0 0 22px 22px;
    overflow: hidden;
}

.fields {
    display: flex;
    background: var(--primary);
    padding: 34px 47px;
    flex-direction: column;
}

.fields label {
    margin-left: 21px;
    font-size: 16px;
}

.fields input {
    max-width: 668px;   
    margin: 4px 0 11px 0;   
    height: 48px;
    border-radius: 22px;
    background: white;
    padding: 20px;
    font-size: 16px;
    border: 2px solid transparent;
}

.fields input::placeholder {
    font-size: 16px;
    color: #9B9B9B;
}

.fields input:focus {
    outline: none;
    border: 2px solid var(--secondary);
}

.fields #alert {
    color: red;
    text-align: center;
    margin: 10px;
}

.fields #alert.hidden {
    display: none;
}

.card-bottom button {
    max-width: 228px;
    min-height: 58px;
    border-radius: 22px;
    background: var(--secondary);
    font-size: 24px;
    margin: auto;
    border: 2px solid transparent;
    padding: 11px 82px;
    color: var(--text);
    cursor: pointer;
    font-weight: bolds;
}