@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.botao {
  margin-top: 32px;
  font-weight: 500;
  height: 48px;
  width: 266px;
  font-family: "Poppins";
  font-size: 24px;
  background-color: #ff6600;
  color: #ffffff;
  font-weight: 500;
  border-radius: 22px;
  cursor: pointer;

}
.AreaCards{
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  width: 1153px;
  height: 196px;
  flex-wrap: wrap;
  gap:   15px 37px ;
}