* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  background-color: #001830;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  height: 83px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer p {
  font-size: 16;
  font-weight: 500;
}
