@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-serra-orange: #FF6600;
  --color-serra-blue: #001830;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
}